

					
		<div class="row col s12 grey lighten-4">
			<strong>New Message</strong>
			<%= form_for([@project, @project.notes.build]) do |f| %>
				
				<div class="input-field col s12 ">
			      
				  <%= f.text_area :content, placeholder: "Type your message", class: "materialize-textarea tinymce" %>
			      
			      <br>
			    </div>
				
			  	<%= f.file_field :attachments, multiple: true %>
			  <br>
				<%= f.submit ("Submit message"), class: "btn waves-effect waves-light"%>
			<% end %>
		</div>

