<ul class="collection with-header">
	<li class="collection-header"><p><%= note.content.html_safe %></p></li>
	<li class="collection-item">
		<div>
		  <i class="tiny material-icons">ic_attach_file</i>
		  <% note.attachments.each do |attachment| %>
		    <%= link_to "#{attachment.file.filename}", attachment.url %> |
		  <% end %>
		 Created: <%= time_ago_in_words(note.created_at) %>

		  <%= link_to "Delete", project_note_path(@project, note.id), class: "secondary-content", method: :delete, data: { confirm: "Are you sure?"} %> 

		  
		</div>
	</li>
</ul>
