<p><%= note.content %></p>
<p>
  <strong>Attachments:</strong>
  <% note.attachments.each do |attachment| %>
    <%= link_to "#{attachment.file.filename}", attachment.url %> |
  <% end %>
</p>

<%= link_to "Delete", project_note_path(@project, note.id), method: :delete, data: { confirm: "Are you sure?"} %>