<div class="row">
  <div class="col s12 z-depth-1 card-panel"><br>
		<h5>Editing Task</h5>

		<%= render 'form' %>

		</br>
	</div>

	<%= link_to 'Show', @task %> |
		<%= link_to 'Back', tasks_path %>
</div>
