<div class="jumbotron">
  <h1>VODD.in | Coming Soon</h1>
  <p>Oops! you caught us hatching. <br>We are currently under development. <br><i>We'll be online soon!</i></p>
  <p>
  	<%= link_to "Create Account", new_user_registration_path %>
  	</p>
</div>


