<%= tinymce_assets %>
<div class="col s12 z-depth-1 card-panel">

</br>
<h5 class="center-align">Editing Project</h5>

<%= render 'form' %>
</div>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
